@font-face {
    font-family: 'Blacksword';
    src: url('_assets/_fonts/Blacksword.eot');
    src: url('_assets/_fonts/Blacksword.eot') format('embedded-opentype'),
         url('_assets/_fonts/Blacksword.woff2') format('woff2'),
         url('_assets/_fonts/Blacksword.woff') format('woff'),
         url('_assets/_fonts/Blacksword.ttf') format('truetype'),
         url('_assets/_fonts/Blacksword.svg#Blacksword') format('svg');
}

.blacksword
	font-family "Blacksword";


.sz-10
	font-size 10px
	line-height 14px

.sz-15
	font-size 15px
	line-height 19px

.sz-20
	font-size 20px

.sz-25
	font-size 25px

.sz-30
	font-size 30px

.sz-35
	font-size 35px

.sz-40
	font-size 40px

.sz-45
	font-size 45px

.sz-50
	font-size 50px