primary = destak
secundary = #404040
success = #2ecc71 - 15
danger  = #ff6b6b
border = #DCDFEC + 10
destak = #7560CA
destak2 = #2bcbba

white = #FFFFFF
black = #404040

bgd = #F8F9FD
bgl = #F8F9FD + 5
bgsd = #A1A5BC

.color-primary
	color primary

.color-success
	color success - 50

.color-danger
	color danger
