@import "reboot"
@import "reset"
@import "functions"
@import "helpers"
@import "base"
@import "_ui/*"
@import "_login/*"

*
	outline none

a:hover
	text-decoration none

html
body
	height 100%
	width 100%
html
	scroll-behavior: smooth;

body
	font-size 14px
	font-weight 100



