@import "reboot"
@import "colors"
@import "reset"

@import "functions"
@import "helpers"
@import "fonts"
@import "_ui/*"
@import "_pages/*"

html
body
	height 100%
	width 100%
html
	scroll-behavior: smooth;

body
	font-size 14px
	font-weight 100
	color black


