.btn-lg
	padding 15px 15px
	display inline-block
	radius(3px)
	text-align center
	font-weight 400
.btn-md
	padding 10px 15px
	display inline-block
	radius(3px)
	text-align center
	font-weight 400

.btn-full
	display block

// primary

.btn-p
	background-color primary
	color #FFF
.btn-p:hover
.btn-p:active
	background-color primary + 5
	color #FFF

// success

.btn-s
	background-color success
	color #FFF
.btn-s:hover
.btn-s:active
	background-color success + 5
	color #FFF

// danger

.btn-d
	background-color danger
	color #FFF
.btn-d:hover
.btn-d:active
	background-color danger + 5
	color #FFF

// line

.btn-line
	border 1px border solid
	