.btn-lg
	padding 15px 15px
	display inline-block
	radius(3px)
	text-align center
	font-weight 400
	border 0
.btn-md
	padding 10px 15px
	display inline-block
	radius(3px)
	text-align center
	font-weight 400
	border 0

.btn-sm
	padding 4px 10px
	display inline-block
	radius(4px)
	text-align center
	font-weight 500
	border 0
	font-size 12px

.btn-full
	display block
	width 100%

// primary

.btn-p
	background-color primary
	color #FFF
.btn-p:hover
.btn-p:active
	background-color primary + 5
	color #FFF

// secundary

.btn-ss
	background-color secundary
	color #FFF
.btn-ss:hover
.btn-ss:active
	background-color secundary + 5
	color #FFF

// success

.btn-s
	background-color success
	color #FFF
.btn-s:hover
.btn-s:active
	background-color success + 5
	color #FFF

// danger

.btn-d
	background-color danger
	color #FFF
.btn-d:hover
.btn-d:active
	background-color danger + 5
	color #FFF

// danger

.btn-dd
	background-color destak
	color #FFF
.btn-dd:hover
.btn-dd:active
	background-color destak + 5
	color #FFF


.btn-dd2
	background-color destak2
	color #FFF
.btn-dd2:hover
.btn-dd2:active
	background-color destak2 + 5
	color #FFF

// line

.btn-line
	border 2px border solid
	

.btn-add-circle
	width 70px
	height 70px
	radius(50%)
	border 1px border solid
	transition2s()
	span
		font-size 40px
		color success

.btn-add-circle:hover
	background success
	border 1px success - 5 solid
	span
		color white
		
