label
	display block
	span
		display block
		margin-bottom 3px
		font-weight 400
		font-size 13px
	input
		height 45px
		padding 0 15px
		radius(4px)
		border 2px border solid
		width 100%
		font-weight 200
		background #FFF
	textarea
		padding 15px 15px
		radius(4px)
		border 2px border solid
		width 100%
		font-weight 200
		background #FFF
	select
		height 50px
		padding 0 15px
		radius(4px)
		border 2px border solid
		width 100%
		font-weight 200
		-webkit-appearance: none;
		background #FFF
	.combobox
		position relative
	.combobox:after
		content ""
		position absolute
		width 0
		height 0
		top 50%
		right 15px
		margin-top - 5px
		display inline-block
		vertical-align middle
		border-left 4px transparent solid 
		border-right 4px transparent solid 
		border-top 6px #4D5063 solid 

.avatar-upload
	text-align center
	padding 30px 20px
	border 1px border dotted
	radius(4px)
	img
		radius(50%)
		display inline-block
	label
		cursor pointer
		display inline-block
		input
			display none