.sidebar-user-manager
	display flex
	flex-direction column
	height 100%
	flex 1
	> .header
		padding 30px
		background bgd
		border-bottom 1px border solid
		.avatar
			text-align center
			margin-bottom 10px
			img
				radius(50%)
				width 120px
				height 120px
		.name
			text-align center
			font-size 20px
			font-weight 400
		.role
			text-align center
			span
				display inline-block
				padding 2px 15px
				background primary
				color white
				radius(30px)
				font-weight 400
				font-size 13px
	> .body
		flex 1
		padding 30px
	> .footer
		padding 15px
		border-top 1px border solid