.tabs-menu.center
	align-items center
	justify-content center
.tabs-menu
	display flex
	flex-direction row
	a
		display flex
		align-items center
		padding 0 25px
		height 45px
		border 1px border solid
		font-size 14px
		color primary - 20
		margin-left -1px
		background #F8F9FD
		color #A1A5BC
	a:first-child
		radiusmaster(25px, 0, 25px, 0)
	a:last-child
		radiusmaster(0, 25px, 0,  25px)
	a.active
		background #FFF
		color primary - 20